pandas
numpy
python-dotenv
pymongo
certifi
pymongo[srv]==4.7
scikit-learn
dill
pyaml
#-e . # this will refere to the setup file to package our project. do this step at last for deployment to pack all the files as packages